<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FreeSql.EntityGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
        <FreeSql.EntityGenerator.Properties.Settings>
            <setting name="comboBoxConnectionString_Text" serializeAs="String">
                <value/>
            </setting>
            <setting name="checkBoxNameOptionsEntity01_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsEntity02_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsEntity03_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsEntity04_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsProperty02_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsProperty01_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsProperty03_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxNameOptionsProperty04_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonTemplateStyle01_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonTemplateStyle02_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonTemplateStyle03_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="radioButtonTemplateStyleClean04_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioButtonTemplateStyleClean05_Checked" serializeAs="String">
                <value>False</value>
            </setting>
        </FreeSql.EntityGenerator.Properties.Settings>
    </userSettings>
</configuration>
