<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="js/multitabs/multitabs.min.css">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="js/easyhelper/easyhelper.min.css" rel="stylesheet" />
    <script src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid  p-t-15" id="page">

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        所有数据库
                    </div>
                    <div class="card-body">
                        FreeSQl 最好用的 .Net Orm 库
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        实体模板
                    </div>
                    <div class="card-body">
                        FreeSQl 最好用的 .Net Orm 库
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        生成配置
                    </div>
                    <div class="card-body">
                        FreeSQl 最好用的 .Net Orm 库
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/easyhelper/easyhelper.min.js"></script>
    <script type="text/javascript" src="js/main.min.js"></script>
    <script>
        $(function () {

            $('button[info]').on('click', function () {

                GenerateCode();
                Helper.ui.message.success("全部代码生成完成", {});
            });
        });
    </script>



</body>
</html>