<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net47" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net47" />
  <package id="FreeSql" version="0.7.12" targetFramework="net47" />
  <package id="FreeSql.Extensions.LazyLoading" version="0.7.12" targetFramework="net47" />
  <package id="FreeSql.Provider.MySql" version="0.7.12" targetFramework="net47" />
  <package id="FreeSql.Provider.Oracle" version="0.7.12" targetFramework="net47" />
  <package id="FreeSql.Provider.PostgreSQL" version="0.7.12" targetFramework="net47" />
  <package id="FreeSql.Provider.Sqlite" version="0.7.12" targetFramework="net47" />
  <package id="Google.Protobuf" version="3.8.0" targetFramework="net47" />
  <package id="MaterialDesignColors" version="1.2.0" targetFramework="net47" />
  <package id="MaterialDesignThemes" version="2.6.0" targetFramework="net47" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="Npgsql" version="4.0.8" targetFramework="net47" />
  <package id="Npgsql.LegacyPostgis" version="4.0.8" targetFramework="net47" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net47" />
  <package id="SafeObjectPool" version="2.1.0" targetFramework="net47" />
  <package id="Sqlite.Interop.Net46.x64" version="1.0.109" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.3" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>